{% extends 'base/base.html' %}

{% block title %}Product List{% endblock title %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <div class="breadcrumbs-inner">
        <div class="row m-0">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Dashboard</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li><a href="#">Dashboard</a></li>
                            <li><a href="#">Product</a></li>
                            <li class="active">List</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock breadcrumbs %}

{% block content %}
<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <h4 class="box-title">Product List </h4>
            </div>
            <div class="card-body--">
                <div class="table-stats order-table ov-h">
                    <table class="table ">
                        <thead>
                            <tr>
                                <th class="serial">#</th>
                                <th>Organization</th>
                                <th>Product Name</th>
                                <th>Description</th>
                                <th>Price</th>
                                <th>SKU</th>
                                <th>Registrant</th>
                                <th>Date</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if products %}
                            {% for product in products %}
                            <tr>
                                <td class="serial">{{ forloop.counter }}</td>
                                <td>{{ product.organization }}</td>
                                <td>{{ product.name }}</td>
                                <td>{{ product.description }}</td>
                                <td>{{ product.price }}</td>
                                <td>{{ product.sku }}</td>
                                <td>{{ product.registrant }}</td>
                                <td>{{ product.created_date }}</td>
                                <td>
                                    {% if product.status == 'pending' %}
                                        <a class="btn btn-warning" href="">{{ product.status }}</a>
                                    {% elif product.status == 'decline' %}
                                        <a class="btn btn-danger" href="">{{ product.status }}</a>
                                    {% elif product.status == 'complete' %}
                                        <a class="btn btn-success" href="">{{ product.status }}</a>
                                    {% elif product.status == 'approved' %}
                                        <a class="btn btn-primary" href="">{{ product.status }}</a>
                                    {% elif product.status == 'bulk' %}
                                        <a class="btn btn-secondary" href="">{{ product.status }}</a>
                                    {% else %}
                                        <a class="btn btn-info" href="">{{ product.status }}</a>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                            {% else %}
                                <tr><td>No Product Data</td></tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div> <!-- /.table-stats -->
            </div>
        </div> <!-- /.card -->
    </div>  <!-- /.col-lg-8 -->

    
</div>
{% endblock content %}